{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password Completed{% endblock title %}

{% block main-content %} 

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset Password Completed!!!</h3>
            <hr>
            <div>
                <iframe src="https://i.pinimg.com/originals/06/ae/07/06ae072fb343a704ee80c2c55d2da80a.gif" width="400" height="300" frameborder="0" 
                class="giphy-embed" allowfullscreen></iframe>
            </div>         
        </div>
    </div>
</div> 

{% endblock main-content %} 